@model IEnumerable<BOL.tbl_Url>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(TempData["Msg"] != null) {
    @TempData["Msg"].ToString()
}
<h2>Manage Urls</h2>
<script>
    function ApproveUrl() {
        confirm("Are You Sure You Want To Approve?");
    }
    function RejectUrl() {
        confirm("Are You Sure You Want To Reject?");
    }
</script>
<h4>
    @if(ViewBag.status == "P") {
        <b> @Html.ActionLink("Pending Urls", "Index", new { status = "P" })</b>
    }
    else {
        @Html.ActionLink("Pending Urls", "Index", new { status = "P" })
    }
    |
    @if(ViewBag.status == "A") {
        <b> @Html.ActionLink("Approved Urls", "Index", new { status = "A" })</b>
    }
    else {
        @Html.ActionLink("Approved Urls", "Index", new { status = "A" })
    }
    |
    @if(ViewBag.status == "R") {
        <b> @Html.ActionLink("Rejected Urls", "Index", new { status = "R" })</b>
    }
    else {
        @Html.ActionLink("Rejected Urls", "Index", new { status = "R" })
    }
</h4>
<table class="table">
    <tr>
        <th>Approve | Reject Urls</th>
        <th>
            @Html.DisplayNameFor(model => model.UrlTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_User.UserEmail)
        </th>

    </tr>

    @foreach(var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Approve", "Approve", new { id = item.UrlId }, new {onclick= "return ApproveUrl();" }) |
                @Html.ActionLink("Reject", "Reject", new { id = item.UrlId }, new {onclick= "return RejectUrl();" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url, new { target = "_blank" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_User.UserEmail)
            </td>
        </tr>
    }
</table>
