@model IEnumerable<BOL.tbl_Url>

@{
    ViewBag.Title = "Browse URL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { SortOrder = ViewBag.SortOrder == null ? "ASC" : (ViewBag.SortOrder == "ASC" ? "DESC" : "ASC"), SortBy = "Title", Page = ViewBag.Page ?? "1" })
        </th>
        <th>
            @Html.ActionLink("URL", "Index", new { SortOrder = ViewBag.SortOrder == null ? "ASC" : (ViewBag.SortOrder == "ASC" ? "DESC" : "ASC"), SortBy = "Url", Page = ViewBag.Page ?? "1" })
        </th>
        <th>
            @Html.ActionLink("Description", "Index", new { SortOrder = ViewBag.SortOrder == null ? "ASC" : (ViewBag.SortOrder == "ASC" ? "DESC" : "ASC"), SortBy = "Description", Page = ViewBag.Page ?? "1" })
        </th>

        <th>
            @Html.ActionLink("Category", "Index", new { SortOrder = ViewBag.SortOrder == null ? "ASC" : (ViewBag.SortOrder == "ASC" ? "DESC" : "ASC"), SortBy = "Category", Page = ViewBag.Page ?? "1" })
        </th>
    </tr>

    @foreach(var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrlTitle)
            </td>
            <td>
                <a target="_blank" href=@item.Url>@item.Url</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_Category.CategoryName)
            </td>
        </tr>
    }
</table>

<ul class="pagination pagination-lg">
    @{
        double totalPages = ViewBag.TotalPages;
        for(int index = 1 ; index <= totalPages ; index++) {
            @*if(index == ViewBag.Page) {
                    <b>@Html.ActionLink(index.ToString() + " ", "Index", new { SortOrder = ViewBag.SortOrder ?? "ASC", SortBy = ViewBag.SortBy ?? "Title", Page = index })</b>
                }
                else {
                    @Html.ActionLink(index.ToString() + " ", "Index", new { SortOrder = ViewBag.SortOrder ?? "ASC", SortBy = ViewBag.SortBy ?? "Title", Page = index })
                }*@
            <li>@Html.ActionLink(index + " ", "Index", new { SortOrder = ViewBag.SortOrder ?? "ASC", SortBy = ViewBag.SortBy ?? "Title", Page = index })</li>
        }
    }
</ul>
